.pos-layout {
    display: flex;
    height: calc(100vh - 64px);
    /* Subtract header height */
    margin: -2rem;
    /* Negate default padding from Layout */
    overflow: hidden;
}

.pos-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    overflow: hidden;
}

.pos-search-bar {
    margin-bottom: 1.5rem;
}

.search-input-lg .input-field {
    height: 50px;
    font-size: 1.125rem;
}

.pos-content {
    flex: 1;
    overflow-y: auto;
    padding-right: 0.5rem;
    /* Space for scrollbar */
}

.pos-sidebar {
    width: 400px;
    flex-shrink: 0;
    height: 100%;
}

@media (max-width: 1024px) {
    .pos-sidebar {
        width: 350px;
    }
}